<reservar-hotel-card />
<div class="breadcrumb-organizar-listagem__row">
  <breadcrumb />
  <organizar-listagem-reservas />
</div>
<div *ngIf="vm$ | async as vm">
  <div
    class="hoteis__grid"
    *ngIf="vm.hoteis.length"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="aoArrastarParaBaixo()"
  >
    <hotel-card *ngFor="let hotel of vm.hoteis" [hotel]="hotel"></hotel-card>
  </div>

  <div *ngIf="vm.carregandoHoteis" class="carregando-hoteis__row">
    <nz-spin nzSimple></nz-spin>
  </div>

  <div *ngIf="vm.semHoteis && !!vm.hoteis.length">
    <p>Acabaram os hoteis.</p>
  </div>

  <div *ngIf="vm.semHoteis && !vm.hoteis.length">
    <p>Não foi encontrado nenhum hotel.</p>
  </div>

  <hotel-drawer />
</div>
